Repository golemfactory/clay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wiezzel, @Krigpl, @shadeofblue, @jiivan, @maaktweluit

.github/CODEOWNERS:

/golem/docker/ @Wiezzel
/golem/ethereum/ @Krigpl
/golem/envs/ @Wiezzel
/golem/network/concent/ @shadeofblue @jiivan

/scripts/concent_acceptance_tests/ @shadeofblue
/scripts/docker/ @Wiezzel
/scripts/node_integration_tests/ @shadeofblue
/scripts/virtualization/ @Wiezzel

/Installer/Installer_Win/ @Wiezzel @maaktweluit

Remove no longer applicable test for WASM task
  tests/apps/wasm/test_task.py
Owners: none

Remove nonappliacle WASM unit tests
  tests/apps/wasm/test_task.py
Owners: none

WasmTask remove non applicable unit tests
  tests/apps/wasm/test_task.py
Owners: none

Linter fixes to unit tests
  tests/apps/wasm/test_task.py
  tests/apps/wasm/test_vbr.py
Owners: none

Add WASM verifier unit tests
  tests/apps/wasm/test_vbr.py
Owners: none

Small linter fix
  tests/apps/wasm/test_task.py
Owners: none

Fix tests
  golem/task/tasksession.py
  tests/golem/task/test_concent_logic.py
Owners: none

Fix typo
  tests/golem/task/test_concent_logic.py
Owners: none

[review] Move methods to different places
  golem/ethereum/paymentprocessor.py
  golem/ethereum/paymentskeeper.py
  golem/ethereum/transactionsystem.py
  golem/model.py
  tests/golem/ethereum/test_transactionsystem.py
Owners: @Krigpl

Fix resolution closure scope
  golem/task/tasksession.py
Owners: none

Fix build on b0.20.1
  apps/wasm/task.py
Owners: none

Remove task local variable
  golem/task/tasksession.py
Owners: none

Fix task variable name to not overlap with module name
  golem/task/tasksession.py
Owners: none

Fix tests
  tests/golem/task/test_concent_logic.py
Owners: none

fix reason attribute
  golem/resource/resourcehandshake.py
Owners: none

Silence log in finished_computation
  apps/wasm/task.py
Owners: none

Upgrade to SCi 1.10.2
  requirements.txt
  requirements_to-freeze.txt
Owners: none

Update advinst version and product code
  Installer/Installer_Win/Golem.aip
Owners: @Wiezzel, @maaktweluit

Remove deadline param from funds locker
  golem/client.py
  golem/ethereum/fundslocker.py
  golem/task/rpc.py
  tests/golem/ethereum/test_fundslocker.py
  tests/golem/test_client.py
Owners: @Krigpl

Removed unused imports / variables
  golem/environments/environment.py
  golem/task/benchmarkmanager.py
  golem/task/tasksession.py
Owners: none

Bump blender_verifier tag to 1.6
  apps/images.ini
  golem/verifier/blender_verifier.py
  scripts/docker_integrity/image_integrity.ini
Owners: none

Removed unused functions from taskserver.py, made private where possible
  golem/task/taskserver.py
  tests/golem/task/test_taskserver.py
Owners: none

Upgrade to SCi 1.10.2 (#4480)
  requirements.txt
  requirements_to-freeze.txt
Owners: none

Remove deadline param from funds locker (#4483)
  golem/client.py
  golem/ethereum/fundslocker.py
  golem/task/rpc.py
  tests/golem/ethereum/test_fundslocker.py
  tests/golem/test_client.py
Owners: @Krigpl

Fix golemfactory/glambda:1.5 image integrity check
  scripts/docker_integrity/image_integrity.ini
Owners: none

Bump blender_verifier tag to 1.6 (#4484)
  apps/images.ini
  golem/verifier/blender_verifier.py
  scripts/docker_integrity/image_integrity.ini
Owners: none

Bump blender_verifier tag to 1.6 (#4484)
  apps/images.ini
  golem/verifier/blender_verifier.py
  scripts/docker_integrity/image_integrity.ini
Owners: none

Fix golemfactory/glambda:1.5 image integrity check
  scripts/docker_integrity/image_integrity.ini
Owners: none

Make hyperg and docker always overwrite
  Installer/Installer_Win/Golem.aip
Owners: @Wiezzel, @maaktweluit

A simple ResourceManager class
  golem/resource/client.py
  golem/resource/resourcemanager.py
  tests/golem/resource/base/test_base_resourceserver.py
  tests/golem/resource/test_resourcemanager.py
Owners: none

Wasm verification by redundancy - backported to b0.20.1 (#4475)
  apps/wasm/task.py
  apps/wasm/vbr.py
  scripts/node_integration_tests/nodes/provider/exception_on_computation_attempt.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_crash_provider_side/playbook.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_crash_provider_side/test_config.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_single_failure/playbook.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_single_failure/test_config.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_success/playbook.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_success/test_config.py
  scripts/node_integration_tests/tasks/__init__.py
  scripts/node_integration_tests/tasks/test_wasm_task_0/in/flite.js
  scripts/node_integration_tests/tasks/test_wasm_task_0/in/subtask0/in.txt
  scripts/node_integration_tests/tasks/test_wasm_task_0/in/subtask1/in.txt
  scripts/node_integration_tests/tasks/test_wasm_task_0/out/subtask0/in.wav
  scripts/node_integration_tests/tasks/test_wasm_task_0/out/subtask1/in.wav
  tests/apps/wasm/test_task.py
  tests/apps/wasm/test_vbr.py
Owners: @shadeofblue

fix CTD mock :/ ...
  tests/golem/task/test_tasksession.py
Owners: none

fix `taskmanager.get_next_subtask` signature in `test_rpc`
  tests/golem/task/test_rpc.py
Owners: none

RequestorPoolingMarketStrategy class
  golem/marketplace/brass_marketplace.py
Owners: none

Fix golemfactory/glambda:1.5 image integrity check (#4487)
  scripts/docker_integrity/image_integrity.ini
Owners: none

RequestorPoolingMarketStrategy class (#4491)
  golem/marketplace/brass_marketplace.py
Owners: none

Wasm verification by redundancy - backported to b0.20.1 (#4475) (#4492)
  apps/wasm/task.py
  apps/wasm/vbr.py
  scripts/node_integration_tests/nodes/provider/exception_on_computation_attempt.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_crash_provider_side/playbook.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_crash_provider_side/test_config.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_single_failure/playbook.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_single_failure/test_config.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_success/playbook.py
  scripts/node_integration_tests/playbooks/golem/wasm_vbr_success/test_config.py
  scripts/node_integration_tests/tasks/__init__.py
  scripts/node_integration_tests/tasks/test_wasm_task_0/in/flite.js
  scripts/node_integration_tests/tasks/test_wasm_task_0/in/subtask0/in.txt
  scripts/node_integration_tests/tasks/test_wasm_task_0/in/subtask1/in.txt
  scripts/node_integration_tests/tasks/test_wasm_task_0/out/subtask0/in.wav
  scripts/node_integration_tests/tasks/test_wasm_task_0/out/subtask1/in.wav
  tests/apps/wasm/test_task.py
  tests/apps/wasm/test_vbr.py
Owners: @shadeofblue

Handle proper exception on missing task
  golem/task/taskkeeper.py
Owners: none

Refactor TaskHeaderKeeperTests: Use .setUp()
  golem/task/taskarchiver.py
  golem/task/taskkeeper.py
  tests/golem/task/test_taskkeeper.py
Owners: none

Cover task NOT FOUND case
  tests/golem/task/test_taskkeeper.py
Owners: none
