Repository golemfactory/clay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wiezzel, @Krigpl, @shadeofblue, @jiivan, @maaktweluit

.github/CODEOWNERS:

/golem/docker/ @Wiezzel
/golem/ethereum/ @Krigpl
/golem/envs/ @Wiezzel
/golem/network/concent/ @shadeofblue @jiivan

/scripts/concent_acceptance_tests/ @shadeofblue
/scripts/docker/ @Wiezzel
/scripts/node_integration_tests/ @shadeofblue
/scripts/virtualization/ @Wiezzel

/Installer/Installer_Win/ @Wiezzel @maaktweluit

[review] remove duplicate of .assertAddSystemEvent(reactor)
  tests/golem/test_opt_node.py
Owners: none

Reintroduce thread queue type hint
  golem/core/golem_async.py
Owners: none

tests
  tests/golem/envs/docker/cpu/test_env.py
Owners: none

Use last confirmed block instead of genesis with new eth account
  golem/ethereum/transactionsystem.py
  tests/golem/ethereum/test_transactionsystem.py
Owners: @Krigpl

linter
  tests/golem/docker/test_hypervisor.py
  tests/golem/envs/docker/cpu/test_env.py
  tests/golem/envs/docker/cpu/test_integration.py
Owners: none

Expose ports from env runtimes (#4418)
  golem/docker/hypervisor/__init__.py
  golem/docker/hypervisor/docker_for_mac.py
  golem/docker/hypervisor/docker_machine.py
  golem/docker/hypervisor/dummy.py
  golem/envs/__init__.py
  golem/envs/docker/cpu.py
  tests/golem/envs/docker/cpu/test_env.py
  tests/golem/envs/docker/cpu/test_integration.py
  tests/golem/envs/docker/cpu/test_runtime.py
Owners: @Wiezzel

Renamed DockerCpuConfig.work_dir to work_dirs, handling it as a list
  golem/docker/hypervisor/__init__.py
  golem/docker/hypervisor/hyperv.py
  golem/docker/manager.py
  golem/envs/docker/cpu.py
  golem/task/taskcomputer.py
  golem/task/taskserver.py
  tests/apps/blender/benchmark/test_blenderbenchmark.py
  tests/golem/docker/test_docker_blender_task.py
  tests/golem/docker/test_docker_manager.py
  tests/golem/docker/test_hyperv.py
  tests/golem/envs/docker/cpu/test_config.py
  tests/golem/envs/docker/cpu/test_env.py
  tests/golem/envs/docker/cpu/test_integration.py
  tests/golem/task/test_localcomputer.py
  tests/golem/task/test_taskcomputer.py
  tests/golem/verificator/test_blenderverifier.py
Owners: @Wiezzel

Add missing function calls to DockerCPUEnvironment
  golem/envs/docker/cpu.py
Owners: @Wiezzel

Expect proper operation_type
  golem/rpc/api/ethereum_.py
Owners: none

Update glambdaenvironment.py
  apps/glambda/glambdaenvironment.py
  apps/glambda/resources/scripts/job.py
  apps/images.ini
Owners: none

[review] Use dict comprehension
  golem/rpc/api/ethereum_.py
Owners: none

Add tests for multi dir validation
  tests/golem/envs/docker/cpu/test_env.py
  tests/golem/envs/docker/cpu/test_integration.py
Owners: none

Port mapping for docker machine hypervisors
  golem/docker/commands/docker_machine.py
  golem/docker/hypervisor/docker_machine.py
Owners: @Wiezzel

Don't defer docker whitelist check to another thread
  golem/envs/docker/cpu.py
Owners: @Wiezzel

Unit tests for get_port_mapping
  tests/golem/docker/test_hypervisor.py
Owners: none

Update glambdaenvironment.py
  apps/glambda/glambdaenvironment.py
  apps/glambda/resources/scripts/job.py
  apps/images.ini
Owners: none

Updated boot2docker to v18.09.7
  golem/docker/hypervisor/hyperv.py
Owners: @Wiezzel

Add libgtk-3-0 to list of dependencies
  Installer/Installer_Linux/install.sh
Owners: none

Fixed get_fragments unit test
  tests/golem/task/test_rpc.py
Owners: none

Added creating status to is_preparing statuses
  golem/task/taskstate.py
Owners: none

TaskClient doc + type hint improvements + lint fix
  apps/core/task/coretask.py
  golem/task/taskbase.py
  golem/task/taskclient.py
  golem/task/taskmanager.py
  golem/task/tasksession.py
  tests/golem/task/test_taskclient.py
  tests/golem/task/test_taskmanager.py
Owners: none

test fix + typing fix
  golem/task/taskmanager.py
  tests/golem/task/test_taskserver.py
Owners: none

Fix image GLambda image integrity check
  scripts/docker_integrity/image_integrity.ini
Owners: none

Updated logger call in _get_next_task
  apps/rendering/task/renderingtask.py
Owners: none

Update Advanced Installer file
  Installer/Installer_Win/Golem.aip
Owners: @Wiezzel, @maaktweluit

Updated logger call in _get_next_task (#4431)
  apps/rendering/task/renderingtask.py
Owners: none

Fix image GLambda image integrity check
  scripts/docker_integrity/image_integrity.ini
Owners: none

Overcome peewee_migrate bug
  golem/database/database.py
  golem/database/schemas/034_remove_old_payments.py
Owners: none

Catch sqlite3.ProgrammingError along peewees OperationalError
  golem/database/database.py
  golem/network/transport/msg_queue.py
  golem/task/server/queue_.py
Owners: none

catch exception for `taskcomputer.get_progress` for non-blender tasks
  golem/task/taskcomputer.py
Owners: none

remove redundant provider checks
  golem/task/taskserver.py
  golem/task/tasksession.py
  tests/golem/task/test_taskserver.py
Owners: none

just return `None` if the task does not have `crops` -> iow, it's not a Blender task
  golem/task/taskcomputer.py
Owners: none

Implement Golem AppCallbacks
  .gitignore
  conftest.py
  golem/task/appcallbacks/appcallbacks.py
  golem/task/appcallbacks/docker.py
  golem/testutils.py
  requirements-test.txt
  requirements-test_to-freeze.txt
  requirements.txt
  requirements_to-freeze.txt
  tests/golem/task/appcallbacks/test_appcallbacks.py
  tests/golem/task/appcallbacks/test_docker.py
Owners: none

Update tests/golem/task/appcallbacks/test_docker.py
  tests/golem/task/appcallbacks/test_docker.py
Owners: none

Implement Golem AppCallbacks (#4435)
  .gitignore
  conftest.py
  golem/task/appcallbacks/appcallbacks.py
  golem/task/appcallbacks/docker.py
  golem/testutils.py
  requirements-test.txt
  requirements-test_to-freeze.txt
  requirements.txt
  requirements_to-freeze.txt
  tests/golem/task/appcallbacks/test_appcallbacks.py
  tests/golem/task/appcallbacks/test_docker.py
Owners: none

Make env manager support payload builder
  golem/task/envmanager.py
  golem/task/taskkeeper.py
  golem/task/taskserver.py
  tests/golem/task/server/test_queue.py
  tests/golem/task/server/test_resources.py
  tests/golem/task/test_envmanager.py
  tests/golem/task/test_taskkeeper.py
Owners: none

Remove Twisted from marketplace logic
  golem/marketplace/offerpool.py
  golem/task/taskserver.py
  golem/task/tasksession.py
Owners: none

reupload handshake nonce to hyperg, when handshake is inconsistent
  golem/resource/resourcehandshake.py
Owners: none

Use proper TimeoutError class for benchmark timeout
  golem/task/taskserver.py
Owners: none

Fix typehints of conftest files
  conftest.py
  requirements-lint.txt
  scripts/node_integration_tests/conftest.py
Owners: @shadeofblue
