Repository golemfactory/clay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Wiezzel, @Krigpl, @shadeofblue, @jiivan, @maaktweluit

Make env manager support payload builder (#4443)
  golem/task/envmanager.py
  golem/task/taskkeeper.py
  golem/task/taskserver.py
  tests/golem/task/server/test_queue.py
  tests/golem/task/server/test_resources.py
  tests/golem/task/test_envmanager.py
  tests/golem/task/test_taskkeeper.py
Owners: none

Fix test crashes
  tests/golem/task/test_concent_logic.py
  tests/golem/task/test_tasksession.py
Owners: none

lint fix
  golem/task/taskserver.py
Owners: none

Fix most tests in test_blenderverifier.py
  tests/golem/verifier/test_blenderverifier.py
Owners: none

wtct_hash as required param for get_next_subtask and should_accept_provider
  golem/task/taskmanager.py
  golem/task/taskserver.py
  golem/task/tasksession.py
  tests/golem/task/test_taskmanager.py
  tests/golem/task/test_taskserver.py
Owners: none

Version compare in Linux installation script
  Installer/Installer_Linux/install.sh
Owners: none

minor test fx
  tests/golem/task/test_taskserver.py
Owners: none

Enable chroot inside Docker container
  golem/docker/config.py
Owners: @Wiezzel

Stop Golem from crashing on benchmark failure
  golem/task/benchmarkmanager.py
Owners: none

Fix test crash again
  tests/golem/task/test_tasksession.py
Owners: none

Fix database_manager mock
  tests/golem/task/test_concent_logic.py
Owners: none

Fix and disable test for multiple subtasks in task
  tests/golem/verifier/test_blenderverifier.py
Owners: none

Fix typehints of conftest files (#4446)
  conftest.py
  requirements-lint.txt
  scripts/node_integration_tests/conftest.py
Owners: @shadeofblue

Remove dead code from resource server
  golem/client.py
  golem/network/p2p/p2pservice.py
  golem/resource/base/resourceserver.py
  tests/golem/resource/base/test_base_resourceserver.py
Owners: none

A different workaround for missing docker output issue
  golem/envs/docker/cpu.py
Owners: @Wiezzel

Extend GLambda environment check_support to avoid benchmark crash
  apps/glambda/glambdaenvironment.py
  golem/environments/environment.py
Owners: none

Revert "Stop Golem from crashing on benchmark failure"
  golem/task/benchmarkmanager.py
Owners: none

GLambda environment style fixups
  apps/glambda/glambdaenvironment.py
Owners: none

Remove dead code from resource server (#4451)
  golem/client.py
  golem/network/p2p/p2pservice.py
  golem/resource/base/resourceserver.py
  tests/golem/resource/base/test_base_resourceserver.py
Owners: none

Fix linter in glambdaenvironment.py
  apps/glambda/glambdaenvironment.py
Owners: none

Add basic tests to OfferPool
  golem/marketplace/offerpool.py
  tests/golem/marketplace/test_offerpool.py
Owners: none

Disable GLambda for a misconfigured platform (#4449)
  apps/glambda/glambdaenvironment.py
  golem/environments/environment.py
Owners: none

arguments renamed as suggested by @mplebanski
  apps/core/task/coretask.py
  golem/task/taskbase.py
  golem/task/taskclient.py
  golem/task/taskmanager.py
  golem/task/taskserver.py
  golem/task/tasksession.py
  tests/apps/core/benchmark/test_benchmarkrunner.py
  tests/golem/task/dummy/task.py
  tests/golem/task/test_taskclient.py
  tests/golem/task/test_taskmanager.py
  tests/golem/task/test_taskserver.py
Owners: none

[taskclient] log level reduced
  golem/task/taskclient.py
Owners: none

Docker environment integration tests cleanup
  tests/golem/envs/docker/cpu/test_integration.py
Owners: none

package hash/size cleanup
  golem/resource/base/resourceserver.py
  golem/task/rpc.py
  tests/golem/resource/base/test_base_resourceserver.py
  tests/golem/task/test_rpc.py
Owners: none

remove dead code - WaitingForResults is unused now
  golem/task/tasksession.py
  tests/golem/task/test_tasksession.py
Owners: none

package hash/size cleanup (#4454)
  golem/resource/base/resourceserver.py
  golem/task/rpc.py
  tests/golem/resource/base/test_base_resourceserver.py
  tests/golem/task/test_rpc.py
Owners: none

Added .coveragerc to exclude some lines
  .coveragerc
  golem/core/fileencrypt.py
  golem/core/service.py
  golem/diag/service.py
  golem/docker/environment.py
  golem/envs/__init__.py
  golem/interface/formatters.py
  golem/monitor/model/modelbase.py
  golem/network/transport/network.py
  golem/network/transport/session.py
  golem/network/upnp/mapper.py
  golem/task/acl.py
  golem/task/appcallbacks/appcallbacks.py
  golem/task/result/resultmanager.py
  golem/task/result/resultpackage.py
  golem/task/taskbase.py
  golem/vm/vm.py
  tests/golem/task/test_taskbase.py
  tests/golem/task/test_taskmanager.py
Owners: @Wiezzel

offer_hash type changed to (required) str
  apps/core/task/coretask.py
  golem/task/taskbase.py
  golem/task/taskclient.py
  golem/task/taskmanager.py
  golem/task/taskserver.py
  golem/task/tasksession.py
  tests/apps/blender/task/test_blenderrendertask.py
  tests/apps/core/benchmark/test_benchmarkrunner.py
  tests/apps/core/task/test_coretask.py
  tests/apps/rendering/task/test_framerenderingtask.py
  tests/apps/rendering/task/test_renderingtask.py
  tests/golem/task/dummy/task.py
  tests/golem/task/test_taskclient.py
  tests/golem/task/test_taskmanager.py
  tests/golem/task/test_tasksession.py
Owners: none

minor cleanup
  golem/task/tasksession.py
Owners: none

minor cleanup #2
  tests/golem/task/test_taskmanager.py
Owners: none

Modified chessboard scene is used by all tests in test_blenderverifier.py instead of BMW
  tests/apps/blender/verification/test_data/GolemTask_10001.png
  tests/apps/blender/verification/test_data/GolemTask_10002.png
  tests/apps/blender/verification/test_data/almost_good_image.png
  tests/apps/blender/verification/test_data/bmw.blend
  tests/apps/blender/verification/test_data/chessboard_10001.png
  tests/apps/blender/verification/test_data/chessboard_400x400.blend
  tests/apps/blender/verification/test_data/chessboard_400x400_1.png
  tests/apps/blender/verification/test_data/chessboard_400x400_2.png
  tests/apps/blender/verification/test_data/chessboard_400x400_5x5.blend
  tests/apps/blender/verification/test_data/chessboard_400x400_full.png
  tests/apps/blender/verification/test_data/very_bad_image.png
  tests/golem/verifier/test_blenderverifier.py
Owners: none

tiny test cleanup
  tests/golem/task/test_taskserver.py
Owners: none

fix test_rpc
  tests/golem/task/test_rpc.py
Owners: none

Add refactored marketplace
  golem/marketplace/__init__.py
  golem/marketplace/brass_marketplace.py
  golem/marketplace/offerpool.py
  golem/task/taskserver.py
  golem/task/tasksession.py
  tests/golem/marketplace/test_marketplace.py
  tests/golem/marketplace/test_offerpool.py
Owners: none

Fix most tests in test_blenderverifier.py
  tests/golem/verifier/test_blenderverifier.py
Owners: none

Fix and disable test for multiple subtasks in task
  tests/golem/verifier/test_blenderverifier.py
Owners: none

Modified chessboard scene is used by all tests in test_blenderverifier.py instead of BMW
  tests/apps/blender/verification/test_data/GolemTask_10001.png
  tests/apps/blender/verification/test_data/GolemTask_10002.png
  tests/apps/blender/verification/test_data/almost_good_image.png
  tests/apps/blender/verification/test_data/bmw.blend
  tests/apps/blender/verification/test_data/chessboard_10001.png
  tests/apps/blender/verification/test_data/chessboard_400x400.blend
  tests/apps/blender/verification/test_data/chessboard_400x400_1.png
  tests/apps/blender/verification/test_data/chessboard_400x400_2.png
  tests/apps/blender/verification/test_data/chessboard_400x400_5x5.blend
  tests/apps/blender/verification/test_data/chessboard_400x400_full.png
  tests/apps/blender/verification/test_data/very_bad_image.png
  tests/golem/verifier/test_blenderverifier.py
Owners: none

Fix database_manager mock again
  tests/golem/task/test_tasksession.py
Owners: none

.github/CODEOWNERS:

/golem/docker/ @Wiezzel
/golem/ethereum/ @Krigpl
/golem/envs/ @Wiezzel
/golem/network/concent/ @shadeofblue @jiivan

/scripts/concent_acceptance_tests/ @shadeofblue
/scripts/docker/ @Wiezzel
/scripts/node_integration_tests/ @shadeofblue
/scripts/virtualization/ @Wiezzel

/Installer/Installer_Win/ @Wiezzel @maaktweluit
